<link href="/www/application/css/home.css" rel="stylesheet">

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand"><?=$title;?></h3>
                </div>
            </div>

            <div class="inner cover">
                <pre id="code-output"><?=$output;?></pre>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>&reg; Powered by <a href="http://liuxd.github.io/" target="_blank">Liuxd</a></p>
                </div>
            </div>

        </div>

    </div>

</div>
